<h1>Heroes<small> Marvel y DC</small></h1>
<hr>

<div class="card-columns animated fadeIn">
  <div class="card" *ngFor="let heroe of heroes">
    <img [src]="heroe.Img" height="300" width="200" class="card-img-top" [alt]="heroe.Nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.Nombre}}</h5>
      <p class="card-text">{{heroe.Bio}}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.Aparicion | date:'y' }}</small></p>
      <a class="btn btn-outline-primary btn-block" [routerLink]="[ '/heroe', heroe.Id ]">Ver más...</a>
    </div>
  </div>
</div>


<div class="contenedor">
  <button class="botonF1" (click)="btnCrear();">
    <i class=""></i>
  </button>
</div>