<!-- Card Components -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-6">
    <div class="container-fluid">
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7 animated fadeIn fast">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{titulopagina1}}</h3>
                        </div>
                        <div class="col-4 text-right">                           
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="formGroup">
                        <div class="row">
                          <div class="col-lg-3">
                            <div class="form-group mb-3">
                                <label class="form-control-label" for="input-username">Maximo Horas Diarias</label>
                              <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-app"></i></span>
                                  </div>
                                  <input class="form-control"
                                   placeholder="# Horas"
                                   type="number"
                                   name="horasDiarias"
                                   formControlName="horasDiarias">                                 
                              </div>                      
                              <small class="control-error" >{{ getErrorRH('horasDiarias')}}</small>
                          </div>          
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="input-username"> Fecha disponibre inicio</label>
                              <div class="input-group">
                                <input class="form-control"
                                 placeholder="yyyy-mm-dd"                
                                  ngbDatepicker #fi="ngbDatepicker"
                                  name="fechaDisponibleInicio"
                                  formControlName="fechaDisponibleInicio">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" (click)="fi.toggle()" type="button"  style="color: #8898aa; border: 1px solid #cad1d7;">
                                    <i class="ni ni-calendar-grid-58"></i>
                                  </button>
                                </div>
                              </div>
                              <small class="control-error" >{{ getErrorRH('fechaDisponibleInicio')}}</small>
                            </div>                                                   
                          </div>                          
                          <div class="col-lg-3">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Fecha disponible fin</label>
                                <div class="input-group">
                                  <input class="form-control"
                                   placeholder="yyyy-mm-dd"                
                                    ngbDatepicker #fF="ngbDatepicker"
                                    name="fechaDisponibleFin"
                                    formControlName="fechaDisponibleFin">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="fF.toggle()" type="button"  style="color: #8898aa; border: 1px solid #cad1d7;">
                                      <i class="ni ni-calendar-grid-58"></i>
                                    </button>
                                  </div>
                                </div>
                                <small class="control-error" >{{ getErrorRH('fechaDisponibleFin')}}</small>
                              </div>               
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group mb-3">  
                                <label class="form-control-label" for="input-username">Frecuencia Reporte</label>                  
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-collection"></i></span>
                                    </div>
                                    <select class="form-control"
                                      name="frecuenciaCorte"
                                      formControlName="frecuenciaCorte"
                                      disabled="disabled">
                                      <option value="1">Mensual</option>                                     
                                    </select>                               
                                </div>            
                                <small class="control-error" >{{ getErrorRH('frecuenciaCorte')}}</small>
                            </div>
                          </div>                          
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-username">Dia inicio de corte</label>
                                  <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-watch-time"></i></span>
                                      </div>
                                      <input class="form-control"
                                       placeholder="Dia Corte Inicio"
                                       type="number"
                                       name="diaInicioCorte"
                                       formControlName="diaInicioCorte">                                 
                                  </div>                      
                                  <small class="control-error">{{ getErrorRH('diaInicioCorte')}}</small>
                              </div>          
                              </div>
                              <div class="col-lg-3">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-username">Dia fin de Corte</label>
                                  <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-watch-time"></i></span>
                                      </div>
                                      <input class="form-control"
                                       placeholder="Diacorte fin"                                       type="number"
                                       name="diaFinCorte"
                                       formControlName="diaFinCorte">                                 
                                  </div>                      
                                  <small class="control-error">{{ getErrorRH('diaFinCorte')}}</small>
                              </div>          
                              </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-8">                               
                            </div>
                            <div class="col-4 text-right">                                
                                <button class="btn btn-sm btn-primary" (click)="actualizarparametrosRH()" [disabled]="formGroup.invalid">Guardar</button>
                            </div>
                        </div>
                    </form>
                    
                    <form [formGroup]="formGroupCorreo">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">{{titulopagina2}}</h3>
                            </div>
                            <div class="col-4 text-right">                           
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label class="form-control-label" for="input-username">Servidor</label>
                              <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-app"></i></span>
                                  </div>
                                  <input class="form-control"
                                   placeholder="URL...."
                                   type="text"
                                   name="Servidor"
                                   formControlName="Servidor">                                 
                              </div>                      
                              <small class="control-error" >{{ getErrorCorreo('Servidor')}}</small>
                          </div>          
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label class="form-control-label" for="input-username">Correo</label>
                              <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-app"></i></span>
                                  </div>
                                  <input class="form-control"
                                   placeholder="loremlorem@lorem.com"
                                   type="email"
                                   name="correo"
                                   formControlName="correo">                                 
                              </div>                      
                              <small class="control-error" >{{ getErrorCorreo('correo')}}</small>
                          </div>                                                   
                          </div>                  
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-username">Puerto</label>
                                  <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-app"></i></span>
                                      </div>
                                      <input class="form-control"
                                       placeholder="##"
                                       type="number"
                                       name="puerto"
                                       formControlName="puerto">                                 
                                  </div>                      
                                  <small class="control-error" >{{ getErrorCorreo('puerto')}}</small>
                              </div>                                                   
                              </div>
                              <div class="col-lg-5">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-username">Usuario</label>
                                  <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-app"></i></span>
                                      </div>
                                      <input class="form-control"
                                       placeholder="usuario correo"
                                       type="text"
                                       name="usuario"
                                       formControlName="usuario">                                 
                                  </div>                      
                                  <small class="control-error" >{{ getErrorCorreo('usuario')}}</small>
                              </div>                                                   
                              </div>
                              <div class="col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-control-label" for="input-username">Clave</label>
                                  <div class="input-group input-group-alternative">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="ni ni-app"></i></span>
                                      </div>
                                      <input class="form-control"
                                       placeholder="******************"
                                       type="password"
                                       name="clave"
                                       formControlName="clave">                                 
                                  </div>                      
                                  <small class="control-error" >{{ getErrorCorreo('clave')}}</small>
                              </div>                                                   
                              </div>                           
                        </div>
                        <div class="row align-items-center">
                            <div class="col-8">                               
                            </div>
                            <div class="col-4 text-right">
                                <button class="btn btn-sm btn-primary" [disabled]="formGroupCorreo.invalid" (click)="actualizarparametrosCorreo()">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div role="alert" id="notifiCorrecta" aria-live="assertive" aria-atomic="true" class="toast"> 
                    <div class="toast-header">
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Cerrar" (click)="cerrarToast()">
                            <span aria-hidden="true"></span>
                        </button>        
                        <div class="row">
                            <div class="col-lg-1">
                                <div _ngcontent-c10=""><i _ngcontent-c10="" class="ni ni-bell-55">
                                 </i><span _ngcontent-c10=""></span>
                                </div> 
                            </div>
                            <div class="col-lg-10">
                                {{msmExitoso}}
                            </div>
                        </div>      
                    </div>
                 
                </div>
                <div role="alert" id="notifiError" aria-live="assertive" aria-atomic="true" class="toast"> 
                    <div class="toast-header">
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Cerrar" (click)="cerrarToast()">
                            <span aria-hidden="true"></span>
                        </button>        
                        <div class="row">
                            <div class="col-lg-1">
                                <div _ngcontent-c10=""><i _ngcontent-c10="" class="ni ni-bell-55">
                                 </i><span _ngcontent-c10=""></span>
                                </div> 
                            </div>
                            <div class="col-lg-10">
                                <span *ngIf="!tipoError">{{msmErrorPUT}}</span>
                                <span *ngIf="tipoError">{{msmErrorGET}}</span>
                                
                            </div>
                        </div>      
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>