.btn btn-outline-secondary {
    color: #8898aa;
      border: 1px solid #cad1d7;
   }

   .ngb-dp-header {
    background-color: #eef1f3;
   }
   
   .ngb-dp-weekdays {
       background-color: #ffffff;
   }
   
   .btn-light {
       color: #6f6b6b;
   }
      